# Environment variables
.env
.env.*
!.env.example

# Environments
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Media files
media/
media/*
!media/.gitkeep

# Python cache files
__pycache__/
*.pyc
__pycache__/
*.pyc

# Virtual environment
env/
